<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Plank - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'dashboard/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'dashboard/css/sb-admin-2.min.css' %}" rel="stylesheet">

  <!-- Data tables styling -->
  <link href="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/main.css' %}">

</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard-home' %}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-chair"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Plank</div>
      </a>
      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard-home' %}">
          <i class="fas fa-fw fa-home"></i>
          <span>Home</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard-users' %}">
          <i class="fas fa-fw fa-users"></i>
          <span>Users</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard-product-type' %}">
          <i class="fab fa-fw fa-codepen"></i>
          <span>Product Types</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard-products' %}">
          <i class="fas fa-fw fa-box-open"></i>
          <span>Products</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard-parteners' %}">
          <i class="far fa-fw fa-handshake"></i>
          <span>Parteners</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard-orders' %}">
          <i class="far fa-fw fa-handshake"></i>
          <span>Orders</span></a>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">
      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.first_name }} {{ user.last_name }}</span>
                <img class="img-profile rounded-circle" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cog fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="{% url 'logout' %}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->

    {% block content %}{% endblock %}

    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Plank 2020</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'dashboard/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'dashboard/js/sb-admin-2.min.js' %}"></script>

  <!-- Home Page plugins -->
  <script src="{% static 'dashboard/vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Home Page custom scripts -->
  <script src="{% static 'dashboard/js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'dashboard/js/demo/chart-pie-demo.js' %}"></script>

  <!-- Tables plugins -->
  <script src="{% static 'dashboard/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Tables scripts -->
  <script src="{% static 'dashboard/js/demo/datatables-demo.js' %}"></script>
</body>
</html>
