{% extends 'dashboard/base.html' %}

{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Order details</h1>
            <a href="{% url 'orders-detail-add' id=data.id %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Add product</a>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Order {{ data.id }}</h6>
            </div>
            <div class="card-body">
                <p><b>Client:</b> {{ data.client }}</p>
                <p><b>Delivery date:</b> {{ data.delivery_date }}</p>
                <p><b>Address:</b> {{ data.address }}</p>
                <p><b>Approved:</b> {{ data.approved }}</p>
            </div>
        </div>
    </div>

{% endblock content %}
