{% extends 'dashboard/base.html' %}

{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Product Types</h1>
            <a href="{% url 'add-product-type' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Add Product Type</a>
        </div>
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Type</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for productType in productsTypes %}
                                <tr>
                                    <td><a class="viewLink" href="{% url 'product-type-update' id=productType.id %}">{{ productType.product_type }}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
